* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: "Open Sans", sans-serif;
    color: #333;
}

.background-cheval {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("accueil-cheval.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 9.08% 74.3534%; 
}

#wrapper{
    max-width: 960px;      
    margin: 200px auto 0;        
}

.accueil{    
    margin-bottom: 60px;
    position: relative;  
    text-align: center;
}

.accueil-top{
    position: relative;
    height: 290px;        
    margin-bottom: 100px;   
}

.logo{
    float: right;
}

.site-title{
    font-family: "Merriweather", serif;
    color: #fff;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1.05;
    clear: right;
    padding-top: 35px;
}

.menu{
    width: 100%;
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(4px);
    padding: 18px 22px;
}

.menu-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 14px 26px;
}

.menu-list a{
  display: inline-block;
  text-decoration: none;
  color: #777;
  font-size: 18px;
  line-height: 1.5;

  padding: 10px 8px;
  border-bottom: 3px solid transparent;
}

.menu-list a.is-active{
  color: #307D7F;
  border-bottom-color: #307D7F;
}

.main{
  margin-top: 0;
}

.intro{
  background: rgba(255,255,255,0.55);
  backdrop-filter: blur(4px);
  padding: 55px 35px;
}
