* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: "Open Sans", sans-serif;
    color: #000;
}

.background-cheval {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("accueil-cheval.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 9.08% 74.3534%; 
}

.head-section{    
    text-align: center;
    padding: 0 40px;
   
}

.alignment{
    max-width: 960px;
    margin: 0 auto;
}

.header-inner {
    min-height: 290px;
    margin: 200px 0 100px;
}

.logo{
    float: right;
}

.site-title{
    font-family: "Merriweather", serif;
    color: #fff;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1.05;
    clear: right;
    padding-top: 35px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #828282;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

.menu {
    width: 100%;
    background-color: rgba(243,243,243,0.9);
    border-radius: 2px;
    text-align: center;
    margin-bottom: 60px;
}

.menu-list a{
    border-bottom: 4px solid transparent;
}

.menu-list a.is-active, .menu-list a:hover {
    color: #307D7F;
    border-bottom-color:#307D7F;
}

.subnavigation {
    background-color: rgba(243,243,243,0.8);
    padding: 0 40px;
}

.subnavigation a {
    font-size: 16px;
    border-top: 4px solid transparent;
}

.subnavigation a.is-active, .subnavigation a:hover {
    color: #307D7F;
    border-top-color:#307D7F;
}


main {
    padding-top: 60px;
    background-color: rgba(243,243,243,0.8);
}

h1 {
    font-size:48px;
    font-weight: normal;
    line-height: 1.05;
    color: #307D7F;
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 5px;
}

.fb-placeholder-button {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 700;
    height: 20px;
    padding: 0 3px;
}

.like-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' class='_1pbq'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M4.55,7 C4.7984,7 5,7.23403636 5,7.52247273 L5,13.4775273 C5,13.7659636 4.7984,14 4.55,14 L2.45,14 C2.2016,14 2,13.7659636 2,13.4775273 L2,7.52247273 C2,7.23403636 2.2016,7 2.45,7 L4.55,7 Z M6.54470232,13.2 C6.24016877,13.1641086 6.01734614,12.8982791 6,12.5737979 C6.01734614,12.5737979 6.01344187,9.66805666 6,8.14398693 C6.01344187,7.61903931 6.10849456,6.68623352 6.39801308,6.27384278 C7.10556287,5.26600749 7.60281698,4.6079584 7.89206808,4.22570082 C8.18126341,3.8435016 8.52813047,3.4708734 8.53777961,3.18572676 C8.55077527,2.80206854 8.53655255,2.79471518 8.53777961,2.35555666 C8.53900667,1.91639814 8.74565444,1.5 9.27139313,1.5 C9.52544997,1.5 9.7301456,1.55690094 9.91922413,1.80084547 C10.2223633,2.15596568 10.4343097,2.71884727 10.4343097,3.60971169 C10.4343097,4.50057612 9.50989975,6.1729303 9.50815961,6.18 C9.50815961,6.18 13.5457098,6.17908951 13.5464084,6.18 C14.1635544,6.17587601 14.5,6.72543196 14.5,7.29718426 C14.5,7.83263667 14.1341135,8.27897346 13.6539433,8.3540827 C13.9452023,8.49286263 14.1544715,8.82364675 14.1544715,9.20555417 C14.1544715,9.68159617 13.8293011,10.0782687 13.3983805,10.1458495 C13.6304619,10.2907572 13.7736931,10.5516845 13.7736931,10.847511 C13.7736931,11.2459343 13.5138356,11.5808619 13.1594388,11.6612236 C13.3701582,11.7991865 13.5063617,12.0543945 13.5063617,12.3429843 C13.5063617,12.7952155 13.1715421,13.1656844 12.7434661,13.2 L6.54470232,13.2 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
}

footer {
    background-color: rgba(243,243,243,0.8);
}