* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: "Open Sans", sans-serif;
    color: #000;
}

.background-cheval {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("accueil-cheval.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 9.08% 74.3534%; 
}

.head-section{    
    text-align: center;
    padding: 0 40px;
   
}

.alignment{
    max-width: 960px;
    margin: 0 auto;
}

.header-inner {
    min-height: 290px;
    margin: 200px 0 100px;
}

.logo{
    float: right;
}

.site-title{
    font-family: "Merriweather", serif;
    color: #fff;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1.05;
    clear: right;
    padding-top: 35px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #828282;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

.menu {
    width: 100%;
    background-color: rgba(243,243,243,0.9);
    border-radius: 2px;
    text-align: center;
    margin-bottom: 60px;
}

.menu-list a{
    border-bottom: 4px solid transparent;
}

.menu-list a.is-active, .menu-list a:hover {
    color: #307D7F;
    border-bottom-color:#307D7F;
}

.subnavigation {
    background-color: rgba(243,243,243,0.8);
    padding: 0 40px;
}

.subnavigation a {
    font-size: 16px;
    border-top: 4px solid transparent;
}

.subnavigation a.is-active, .subnavigation a:hover {
    color: #307D7F;
    border-top-color:#307D7F;
}


.main{
    margin-top: 0;
}

.intro{
    background-color: rgba(243,243,243,0.8);
    padding: 55px 35px;
}
